.page {
  background: var(--themes-background, #ffffff);
  color: var(--themes-main-color, #000000);
  color: var(--themes-main-color, #0c6903);
  box-sizing: border-box;
  appearance: none;
  min-inline-size: 375px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 667px;
  padding-top: 100px;
  background: repeating-linear-gradient(
      transparent,
      transparent 2px,
      var(--header-cell) 2px,
      var(--header-cell) 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      var(--header-cell) 2px,
      var(--header-cell) 4px
    ),
    linear-gradient(
      180deg,
      var(--header-background) 0.01%,
      var(--header-background-dark) 100%
    );
}

.header__area {
  display: flex;
  flex-direction: column;
  min-height: 327px;
  width: clamp(375px, 100%, 700px);
  background: var(--themes-background, #ffffff);
  border: 2px solid var(--themes-main-color, #000000);
  padding-top: 120px;
}

.header__logo {
  text-align: center;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--font-weight-);
  text-decoration: none;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--font-weight-);
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  padding-top: 25px;
  font-size: 14px;
  font-weight: var(--font-weight-);
  line-height: 14px;
  padding-left: 5px;
}

.theme-menu__item {
  position: relative;
  width: 84px;
  max-height: 14px;
  font-size: 14px;
  text-align: justify;
}

.theme-menu__button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: block;
  position: absolute;
  opacity: 0.6;
  inline-size: 5px;
  right: 92px;
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes arrow {
  0% {
    transform: rotate(0) translateX(0.5px);
  }
  100% {
    transform: rotate(0.5px) translateX(4px);
  }
}

  /* main */

.content {
  /* display: none; */
}

.block {
  width: 100%;
  min-height: 760px;
  margin: -140px;
}

.article__title-text {
  font-size: 18px;
  font-weight: var(--variable--weight);
  line-height: 22.78px;
  color: var(--font--weight);
  padding: 4px 10px 6px;
}

.article__card {
  position: relative;
}

.article__image {
  width: clamp(371px, 100%, px);
  min-height: 371px;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
}

.article__label {
  position: absolute;
  width: 98px;
  height: 14px;
  top: 23px;
  left: 264px;
  font-family: var(--text-family);
  font-size: 14px;
  font-weight: var(--variable-weight-);
  line-height: 14px;
  color: var(--themes-main-color);
  border: 1px solid var(--themes-background);
}

.article__text {
  width: clamp(19.816rem, -0.21rem + 85.442vw, 40.375rem);
  font-family: var(--variable-font);
  font-size: 18px;
  font-weight: var(--variable-weight-);
  line-height: 21px;
  color: var(--themes-main-color);
  padding: 25px 29px 27px 25px;
}

.info__recomendation {
  width: clamp(20.063rem, -3.667rem + 101.246vw, 40.375rem);
  height: clamp(2.625rem, 7.638rem + -10.553vw, 1.313rem);
  /* width: 321px;
  height: 42px; */
  font-family: var(--variable-font);
  font-size: 18px;
  font-weight: var(--font-weight-);
  line-height: 21px;
  color: var(--themes-main-color);
  padding: 0 25px;
}

#disk {
}

@media screen and (min-width: 700px) {
  .header {
    min-height: 960px;
    padding-top: 102px;
  }

  .header__area {
    min-height: 368px;
    padding-top: 136px;
  }
}
