:root.theme-light {
  --font-weight-card-text: "wght" 400;
  --font-weight-card-title: "wght" 700;
  --themes-background: #ffffff;
  --themes-main-color: rgb(0, 0, 0);
  --themes-main-color-opacity: rgb(0, 0, 0, 0.6);
  --color-like: #ffffff;
  --heart-color: #000;
  --heard-fill: #ff0000;
  --background-with-gradient: repeating-linear-gradient(
      transparent,
      transparent 2px,
      #d3d3d3 2px,
      #d3d3d3 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      #d3d3d3 2px,
      #d3d3d3 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}

:root.theme-dark {
  --font-weight-card-text: "wght" 465;
  --font-weight-card-title: "wght" 785;
  --themes-background: #000000;
  --themes-main-color: rgb(0, 204, 20);
  --themes-main-color-opacity: rgb(0, 204, 20, 0.6);
  --color-like: #00cc14;
  --heart-color: #00cc14;
  --heard-fill: #ff0000;
  --background-with-gradient: repeating-linear-gradient(
      transparent,
      transparent 2px,
      #000 2px,
      #000 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      #000 2px,
      #000 4px
    ),
    linear-gradient(180deg, #007f0c 0.01%, #004306 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    --font-weight-card-text: "wght" 400;
    --font-weight-card-title: "wght" 700;
    --themes-background: #ffffff;
    --themes-main-color: rgb(0, 0, 0);
    --themes-main-color-opacity: rgb(0, 0, 0, 0.6);
    --color-like: #ffffff;
    --heart-color: #000;
    --heard-fill: #ff0000;
    --background-with-gradient: repeating-linear-gradient(
        transparent,
        transparent 2px,
        #d3d3d3 2px,
        #d3d3d3 4px
      ),
      repeating-linear-gradient(
        90deg,
        transparent,
        transparent 2px,
        #d3d3d3 2px,
        #d3d3d3 4px
      ),
      linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  }
}
