:root {
  --font-family-accent: "Press Start 2P", Arial, Helvetica, sans-serif;
  --font-family-main: "Inter", Arial, Helvetica, sans-serif;
  --font-weight-card-text: "wght" 400;
  --font-weight-card-title: "wght" 700;
  --width-limiter: clamp(375px, 100%, 700px);
}
